#input {
  min-height: 100vh;
  width: 100%;
  background-color: pink;

  display: grid;
  place-items: center;
}

#input,
#input * {
  transition: 300ms;
}

#input-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

#searchInputs {
  display: grid;
  width: 60vw;
  justify-self: center;
}

#lat-lon-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#searchInputs input {
  width: 100%;
  font-size: inherit;
}

#buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

#buttons * {
  font-size: inherit;
}

#getLocal {
  justify-self: end;
}

#search {
  justify-self: start;
}

#options {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: "T U L";
  justify-content: center;
  align-items: center;
  gap: 1em;
}
#options * {
  user-select: none;
}

#options > span {
  grid-area: T;
}

#toggleUnit {
  grid-area: U;
  text-align: center;
  display: grid;
  align-items: center;
  width: max-content;
}

#toggleUnit span {
  background-color: rgb(129, 154, 175);
  position: relative;
  color: white;
  word-spacing: 0.7em;

  padding: 0.05em 0.35em;
  border-radius: 0.3em;
  font-size: 0.8em;
}

#toggleUnit span::after {
  content: "C";
  position: absolute;
  background-color: red;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 1.2em;
  left: 0%;
  top: 50%;
  translate: 0px -50%;
  width: 0.75em;

  transition: 50ms ease-in-out;
}

#toggleUnit input:checked ~ span::after {
  content: "F";
  translate: 1.05em -50%;
}

#toggleLocType {
  grid-area: L;
  border: 0.15em solid black;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  width: 12.5em;
  text-align: center;
}

.display :is(#buttons, #options) {
  display: none !important;
}

.display #input {
  min-height: 0em;
  place-items: start;
}

.display #input-container {
  padding: 0%;
  width: 100%;
}

.display #searchInputs {
  width: 100%;
}

@media (max-width: 500px) {
  #searchInputs {
    width: 100%;
  }

  #options {
    grid-template-areas:
      "T U"
      "L L";
  }
}
