* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

body {
  background-color: rgb(70, 169, 199);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "I C"
    "F F"
    "D D";
}
