* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hide {
  display: none !important;
}

body {
  background-color: rgb(70, 169, 199);

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
